.vscode/
.ipynb_checkpoints/
*/*/__pycache__
*/__pycache__
pipvenv/
venv/
.env
.venv
.pytest_cache
htmlcov
.coverage
coverage.xml
*/.coverage
*/*/.coverage
*ndpi
*mrxs
*zip
*pkl
*pt
*pth
*hdf5
*__pycache__*
__pycache__/
*pyc
log*
nohup.out
script*threads
*pyc
*.jpg
*.png
nohup*